DB_HOST=localhost
DB_PORT=5432
DB_NAME=phonemail
DB_USER=phonemail
DB_PASSWORD=your_database_password

MSG91_WIDGET_ID=your_msg91_widget_id
MSG91_TOKEN_AUTH=your_msg91_token_auth
MSG91_AUTHKEY=your_msg91_authkey
JWT_SECRET=your_jwt_secret
RESEND_API_KEY=your_resend_api_key
MSG91_SMS_TEMPLATE_ID=your_msg91_sms_template_id
MSG91_SMS_AUTHKEY=your_msg91_sms_authkey
TEXTBEE_API_KEY=your_textbee_api_key
TEXTBEE_DEVICE_ID=your_textbee_device_id